/* @media (max-width: 767px) {
    .footer-top {
      text-align: center;
    }
  
    .footer-top .col-lg-4,
    .footer-top .col-lg-2,
    .footer-top .col-md-6,
    .footer-top .col-md-3,
    .footer-top .col-md-12 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }
  
    .footer-about .social-links {
      justify-content: center;
    }
  
    .footer-about .footer-contact {
      text-align: center;
    }
  
    .footer-links {
      text-align: center;
    }
  
    .footer-links ul {
      padding: 0;
      list-style: none;
    }
  
    .footer-links ul li {
      display: inline-block;
      margin: 5px 0;
    }
  
    .footer-links ul li a {
      text-decoration: none;
    }
  
    .footer-newsletter form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .footer-newsletter form input[type="email"] {
      width: 100%;
      max-width: 300px;
      margin-bottom: 10px;
    }
  
    .footer-newsletter form input[type="submit"] {
      width: 100%;
      max-width: 150px;
    }
  }
   */
/* 
@media (max-width: 768px) {
    .footer-contact {
        text-align: center;
    }

    .footer-about {
        text-align: center;
    }

    .footer-logo {
        margin: 0 auto;
    }

    .social-links {
        justify-content: center;
    } */
    /* .navmenu a .page-button {
        padding: 12px 0px;
        font-size: 13px;
        margin-left: 20px;
        margin-top: 10px;
        width: 30%;
      }
} */

/* Responsif untuk iPad Mini dan iPad Air */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .navmenu .page-button {
      font-size: 17px;
      margin-left: 20px;
      margin-top: 10px;
      width: 11%;
      text-align: center;
    }
  }